<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	Email: <input type="text" id="Email" name = "email"><br>
	Password: <input type="password" id="Password" name = "password"><br>
	<input type="submit" name="Log In" value="Log In">
</form>
